# Local environment variables
# DO NOT commit this file to version control!

# App Configuration
NEXT_PUBLIC_APP_URL=

# Stripe Configuration (Test Mode)
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

# Resend API Configuration
RESEND_API_KEY=

# Econt Configuration
NEXT_PUBLIC_ECONT_SHOP_ID=
NEXT_PUBLIC_ECONT_SHIPPMENT_CALC_URL=
ECONT_SHOP_CURRENCY=
ECONT_UPDATE_ORDER_ENDPOINT=
ECONT_PRIVATE_KEY=
